<p style="color: green"><%= notice %></p>

<h1>Customers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Orders</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.full_name %></td>
        <td><%= customer.orders.count %></td>
        <td><%= button_to "Show", customer_path(customer), method: :get %></td>
        <td><%= button_to "Edit", edit_customer_path(customer), method: :get %></td>
        <td><%= button_to "Delete", customer_path(customer), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New customer", new_customer_path %>
